<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create User Page</title>
    </head>
    <body>
        <h1>User Entry Form:</h1>
        <form action="/adduser" method="POST">
            
            <input type="text"  name="name" class="form-control" placeholder="name" size="40"><br>
            <input type="text"  name="password" class="form-control" placeholder="password" size="40"><br>
            <input type="submit" class="btn btn-primary" value="submit">
        </form>
    </body>
</html>